
main{
h2.price{
    font-size: 16px;
}
h2.limit{
    font-size:40px;
    color:greenyellow;
}
}
img.image-single{
    // width: 3em;
}
.hero-single{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: flex-start;
    margin-top: 100px;
}
.container2{
    margin-right: 100px;
    margin-left: 100px;
}
.container{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    
}
.buttons-del-up{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
}
a.back-wish{
    margin-bottom: 10px;
}

img.img-single {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35em;
  }
