#social{

a.donate {
    background-color: #f5fbf9;
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 5px;
    border: 2px solid rgb(214, 80, 154);
    color: black,

  }
}