.footer-container{
    background-color: #f5fbf9;
    height: 64px;
    margin-top: auto;
    width: 100%;
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;
}

a.whatsapp{
    width: 30px;
}
