.App {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .shopaholics{
      padding: 10px;
    }
    

    #logo-title{
      background-color: #af224d;
    }
    div .logo{
      width: 100vw;
      
    }
    img{
        display: flex;
        align-items: flex-start;
        width: 4em;
    }
    header {
        background-image: "/images/stop2.png";
        background-color: #DF7B42;
        display: flex;
        flex-direction: flex;
        align-items: center;
        justify-content: space-between;
        font-size: calc(10px + 2vmin);
        color: #f5fbf9;
        
        a{
          color: #f5fbf9;
        }
      }
        
    }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input{
        color: #f5fbf9;
        font-size: 0.8em;
        width: 40vw;
      }

      .submit{
        text-align: center; 
      }
      .quetepintes{
        color:#af224d;
        display: flex;
        padding: 10px;
      }
    }
    
      h1, h2, h3{
        color: #af224d;
        align-items: center;
        text-align: center;
      }
      
      a {
        color: black;//white;
        cursor: pointer;
      }
      nav{
        font-display: flex;
        max-width: 600px;
        justify-content: space-between;
        align-items: flex-end;
        width: 100vw;
        border:2px solid  rgb(241, 169, 205);
        
        background-color:#af224d;
      }
       ul{
          list-style: none; 
          a{
            text-decoration: none;
            cursor: pointer;
          }
        }
      
      .nav-style{
        font-display: flex;
        justify-content: space-between;

      }
      h1.error{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color:rgb(214, 30, 30);
      }
    
  
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//     height: 40vmin;
//   }
  
  .App-link {
    color: #61dafb;
  }
  
  
  fieldset {
    color: #af224d;
    border: 0;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* color: #950622; #f38aab; #f5fbf9 */