.App {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
 


  main {
    padding: 3rem;
    width: 100%;
    height: 100%;

    a {
      font-size: 20px;
      font-weight: bold;
    }


    .table .is-striped {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
    }

    div.finances {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .button .is-large {
      color: #af224d;
    }

    #home {
      display: flex;
      // flex-direction: row;
      // flex-wrap: nowrap;
      // justify-content: space-around;
      // align-items: center;
      // align-content: space-between;
      // font-size: 14px;

      td {
        font-size: 20px;
      }

      input {
        width: 8em;
      }

      input[type="text"] {
        width: 12em;
        background-color: #1d0f0f;
        font-size: 1.4em;
        color: #ed1818
      }


    }

    .Signup-home {
      width: 20%;
      padding: 8px 16px;
      margin-top: 32px;
      border: 2px solid #f1a9cd;
      border-radius: 5px;
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      background-color: #af224d;
      text-align: center;
    }

    .welcome {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;
    }

  }

  h1 {
    font-size: 2em;
  }

  #logo-title {
    margin-top: 4em;
    background-color: #af224d;
    height: 100px;
  }

  div .logo {
    width: 100vw;
    border-radius: 10px;
  }

  #shop-logo {
    width: 650px
  }

  .navbar {
    border-radius: 2px;
    max-width: 600px;
  }

  div.app {
    height: 100%;
  }

  img {
    display: flex;
    align-items: flex-start;
    width: 4em;
    margin-top: 10px;
  }

  img.image-single {
    width: 2em;
  }

  img.img-home1 {
    margin-top: 6em;
    width: 500px;
  }

  header.app-header {
    background-image: "/images/shopaholics_blanco.svg";
    background-repeat: no-repeat;
    background-size: cover;

  }

  header {
    background-image: "images/shopaholics_blanco.svg";
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #f5fbf9;
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: #f5fbf9;

    .nav-style {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;
    }



    .shopaholic {
      color: #f5fbf9;
      font-weight: bolder;
      padding: 0px 0.2em;
    }
  }

  a.donate {
    background-color: #f5fbf9;
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 5px;
    border: 2px solid rgb(214, 80, 154);
    color: black,

  }

  .signup .login {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  a {
    color: #f5fbf9;
    padding: 5px;
    justify-content: center;
  }

  a.wish-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
  }

  .linknew {
    font-size: 20px;
  }

  img.img-single {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35em;
  }

  li a {
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }

  input[type="submit"] {
    width: 40%;
    padding: 8px 16px;
    margin-top: 32px;
    // border: 2px solid #312929;
    border-radius: 5px;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #af224d;
  }

  input {
    padding: 8px;
    background-color: #f5fbf9;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(214, 80, 154);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {


    width: 40vw;
  }

  label {
    font-size: 30px;
  }

  .submit {
    text-align: center;
  }

  .quetepintes {
    color: #af224d;
    display: flex;
    padding: 10px;
    font-size: 20px;
  }
}

h1,
h2,
h3 {
  color: #f5fbf9;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

h1 {
  background-image: "/images/shopaholics_blanco.svg";
  color: #f5fbf9;
}

h2,
h3 {
  font-size: 20px;
}

h5 {
  color: #00cc66;
  font-size: 26px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

h3.title-row {
  color: #000000;
}

a {
  color: black; //white;
  cursor: pointer;
}

nav {
  font-display: flex;
  max-width: 800px;
  justify-content: space-arround;
  align-items: center;
  width: 100vw;
  // border: 2px solid #000000;
  border-radius: 5px;
  background-color: #af224d;

  .logout {
    color: #af224d;
    border-radius: 5px;
    margin-top: 20px;
  }
}

ul {
  list-style: none;

  a {
    text-decoration: none;
    cursor: pointer;

  }
}

.nav-style {
  font-display: flex;
  justify-content: space-between;
  max-width: 800px;

}

h1.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ed1818;
}

.wish-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.home {
  display: flex;
  justify-content: space-arround;
  align-items: center;
}

.wishlist {
  display: row;
  justify-content: flex-start;
}

.wishitems {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;

  p {
    color: #000000;
  }
}

.singlewish {
  color: #f5fbf9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}


fieldset {
  color: #00cc66;
  border: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


a.wish-row {
  color: #000000;
}

#social {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 70px;
}

div.wishlist.col-6 {
  width: 600px;
 
}

.back-wish {
  border: 1px solid #f5fbf9
}

/* color: #950622; #f38aab; #f5fbf9 ;#f1a9cd; #ed1818*/