.App {
    font-family: 'Raleway', sans-serif;
    text-align: center;

    header {
        background-color: #DF7B42;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        font-size: calc(10px + 2vmin);
        color: white;
      }
      
      h3{
        color: #af224d;
      }
      
      a {
        color: white;
        cursor: pointer;
      }
      nav{
        font-display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100vw;
        background-color:#af224d;
      }
       ul{
          list-style: none; 
          a{
            text-decoration: none;
            cursor: pointer;
          }
        }
      
      .nav-style{
        font-display: flex;
        justify-content: space-between;

      }
      
  }

  
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//     height: 40vmin;
//   }
  
  .App-link {
    color: #61dafb;
  }
  
  
  fieldset {
    border: 0;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* color: #950622; #f38aab; #f5fbf9 */